/* MAIN COLOR: #087f5b
GRAY COLOR: #343a40 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

.pagination {
  width: 300px;
  color: aqua;
}
